/* Todo esto es parte de "Index" */
.body{
    background-color: black;
}
.navbar {
    display: flex;
    justify-content: center;
    font-family: 'Gideon Roman', cursive;
    font-family: 'New Rocker', cursive;
    height: auto;
    width: 100%;
}
.navbar--links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
}
.navbar--links :hover{
    background-color:  #fd99a9;
}
.navbar--links li{
    display: inline-block;
    padding: 0 4em 0 0;
    color: purple;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}
.navbar--links li a {
    color: white;
    text-decoration: none;
}
.navbar--cuenta{
    display: flex;
    justify-content: right;
}
.fondo__header {
    background-color: salmon;
    display: flex;
    justify-content: center;
}
.productos {
    display: inline;
    align-items: stretch;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 30px;
    left: 500px;
    bottom: 20px;
}
.productos--medio {
    display: inline;
    align-items: stretch;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 30px;
    left: 500px;
    top: 5px;
}
.fondo__productos {
    background: #add5fa;
    bottom: 200px;
    margin-bottom: -17;
    margin-top: 0px;
    height: 290px;
    width: auto;
}
.fondo__productos--medio {
    background: #957dad;

}
.titulos {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: blueviolet;
    font-size: 25px;
    margin-top: 15px;
    text-decoration: none;
}
.fondo__footer {
    background-color: #ffffff;
    border-radius: 20px;
}
/* Termina la parte de "Index" */

/* todo esto es parte de "Venta" */
.venta {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(52, 172, 228);
    height: 50px;
    width: 370px;
    text-align: center;
    margin: 0px auto 100px auto;
    padding: 1rem;
    border: 2px;
}
.venta__boton {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: auto;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Montserrat', sans-serif;
    border-radius: 40px;
    color: green;
}
/* termina la parte de "Venta" */

/* todo esto es parte de "Redes" */
.fuente__de__letra {
    font-family: 'New Rocker', cursive;
    font-size: 20px;
    text-align: justify;
}
/* Todo esto es parte de "Contacto" */
.contact__body {
    background-color: #efefef;
    font-family: sans-serif;
}
.contact {
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.input {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.text__area textarea{
    height: 150px;
    padding-top: 10px;
}
.boton {
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #d291bc;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
#contacto {
    cursor: pointer;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Montserrat', sans-serif;
}
/* Termina la parte de "Contacto" */