#body__main{
    background-color: #ffffff;
    margin: 0%;
    padding: 0%;
}
.body{
    margin: 0%;
    padding: 0%;
}
/* Todo esto es parte de "Index" */

/* Parte superior */
.navbar {
    display: flex;
    justify-content: center;
    font-family: 'New Rocker', cursive;
    height: auto;
    width: 50%;
    font-size: 110%;
}
.navbar--links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
}
.navbar--links :hover{
    color: #000000;
}
.navbar--links :active{
    color: #d9ff00;
}
.navbar--links li{
    display: inline-block;
    padding: 0 4em 0 0;
    color: #800080;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}
.navbar--links li a {
    color: #ffffff;
    text-decoration: none;
}
.navbar--cuenta{
    display: flex;
    justify-content: right;
}
.fondo__header {
    background-color: #fa8072;
    display: flex;
    justify-content: center;
}
/* Fin de la parte superior */

/* Productos */
.productos--arriba p{
    display: inline-block;
    align-items: stretch;
    position: relative;
    width: 9%;
    height: auto;
    margin: 30px;
    left: 500px;
    bottom: 20px;
}
.productos--medio p{
    display: inline-block;
    align-items: stretch;
    position: relative;
    width: 9%;
    height: auto;
    margin: 30px;
    left: 500px;
    bottom: 20px;
}
.productos--abajo p{
    display: inline-block;
    align-items: stretch;
    position: relative;
    width: 9%;
    height: auto;
    margin: 30px;
    left: 500px;
    bottom: 20px;
}
.fondo__productos--arriba {
    background: #add5fa;
    bottom: 200px;
    margin-bottom: -17;
    margin-top: 0;
    height: 290px;
    width: auto;
}
.fondo__productos--medio {
    background: #957dad;
    bottom: 200px;
    margin-bottom: -40;
    margin-top: 0;
    height: auto;
    width: 100%;
}
.fondo__productos--abajo {
    background-color: #fd99a9;
    bottom: 200px;
    margin-bottom: -40;
    margin-top: 0;
    height: auto;
    width: 100%;
}
/* Terminan los Productos */

.titulos{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #8a2be2;
    font-size: 25px;
    margin-top: 15px;
    text-decoration: none;
    margin: 0px;
}
/* .titulos h2{
    display: inline-block;
    color: #ffffff;
    background-color: blueviolet;
    font-size: 25px;
    margin-top: 15px;
    text-decoration: none;
    margin: 0px;
} */

/* Footer */
.footer{
    background-color: #fdfd;
    margin: 0;
    padding: 0;
    height: 13%;
    width: 100%;
    text-decoration: none;
}
/* Termina la parte de "Index" */

/* todo esto es parte de "Venta" */
.venta {
    font-family: 'Roboto', sans-serif;
    background-color: #00f7ff;
    height: 20%;
    width: 20%;
    text-align: center;
    margin: 3% auto 3% auto;
    padding: 1%;
    color: #000000;
}
.venta__boton {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: auto;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Montserrat', sans-serif;
    border-radius: 40px;
    color: #008000;
}
/* termina la parte de "Venta" */

/* todo esto es parte de "Redes" */
.fuente__de__letra {
    font-family: 'New Rocker', cursive;
    font-size: 20px;
    text-align: justify;
}

/* Todo esto es va con los "formularios" */
.contact {
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 #999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.contact__body {
    background-color: #efefef;
    font-family: sans-serif;
    margin: 0px;
    padding: 25px;
}
.contact__body--cuenta {
    background-color: #858ae3;
    font-family: sans-serif;
    margin: 0px;
    padding: 40px;
    color: black;
}
.boton__creaCuenta {
    border-radius: 20px;
    color: #000000;
    margin-top: 18px;
    padding: 10px;
    background-color: #c0fdff;
    font-size: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.contact__body--sesion {
    background-color: #7f29ca;
    font-family: sans-serif;
    margin: 0px;
    padding: 40px;
    color: #ffffff;
}
.boton__iniciarSesion {
    border-radius: 20px;
    color: #ffffff;
    margin-top: 18px;
    padding: 10px;
    background-color: #000000;
    font-size: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.input {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid #777777;
    border-radius: 14px;
    outline: none;
}
.text__area textarea{
    height: 150px;
    padding-top: 10px;
}
.boton {
    border-radius: 20px;
    color: #ffffff;
    margin-top: 18px;
    padding: 10px;
    background-color: #d291bc;
    font-size: 12px;
    border: none;
    cursor: pointer;
    width: 22%;
}
#contacto {
    cursor: pointer;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Montserrat', sans-serif;
}
/* Terminan los "formularios" */