/* Todo esto es parte de "Index" */
.navbar {
    background-color: #b7def0 ;
    margin: 0px 0px 10px 0px;
    text-align: left;
    height: auto;
    width: auto;
    display: block;
    font-family: 'Gideon Roman', cursive;
    font-family: 'New Rocker', cursive;
    font-size: 15px;
}
.navbar--cuenta{
    display: grid;
    justify-content: right;
}
.fondo__header {
    background-color: black;
    font-style: oblique;
    text-align: justify;
    text-align: center;
}
.productos {
    display: inline;
    align-items: stretch;
    position: relative;
    background: rgb(0, 238, 255);
    width: 100px;
    height: 100px;
    margin: 30px;
    border: royalblue;
    left: 500px;
}
.fondo__productos {
    background: #000;
    bottom: 200px;
    margin-bottom: -17;
    margin-top: 0px;
    height: 290px;
    width: auto;
}
.titulos {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: slateblue;
    width: auto;
    height: auto;
    border: solid;
    color: #ffffff;
    font-size: 20px;
}
.fondo__footer {

}
/* Termina la parte de "Index" */

/* todo esto es parte de "Venta" */
.venta {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(52, 172, 228);
    height: 50px;
    width: 370px;
    text-align: center;
    margin: 0px auto 100px auto;
    padding: 1rem;
    border: 2px;
}
.venta__boton {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: auto;
}
/* termina la parte de "Venta" */

/* todo esto es parte de "Redes" */
.fuente__de__letra {
    font-family: 'New Rocker', cursive;
    font-size: 20px;
    text-align: justify;
}